@using TravelTrip.Classes
@model List<Blog>
    <div class="con-bot">
        @foreach (var x in Model)
        {
            <div class="left">
                <div class="bot-left">
                    <img src="@x.BlogImage" alt="" />
                </div>
                <div class="left-text">
                    <h4>@x.Title</h4>
                    <span class="doller">@x.Date.ToString("dd.MM.yyyy")</span>
                    <p>@x.Description.Substring(0,80)</p>
                    <p><a href="/Blog/BlogDetail/@x.BlogId"><span class="read">Devamını Oku... >></span></a></p>
                </div>
            </div>
        }
        </div>
@Html.Action("Partial2","Default")
   